@font-face {
  font-family: 'Bebas Neue';
  src: url('BebasNeue-Regular.eot');
  src: url('BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('BebasNeue-Regular.woff') format('woff'),
    url('BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.section1 {
  background-image: url("../image/bg\ image\ 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 53px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  align-items: center;
  margin-bottom: 237px;
}

.header__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 38px;
  padding: 10px;
  color: #fff;
  transition: all ease 0.3s;
}

.header__link:hover {
  color: #FFB548;
}

.header__right {
  display: flex;
  align-items: center;
  position: relative;
}

.section1__title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.section1__subtitle {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
}

.steam__icon {
  margin-left: 18px;
}

.section1__link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1A1917;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 17.5px;
  border: 1px solid transparent;
  margin-bottom: 393px;
}

.section1__link:hover {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 17.5px;
  box-shadow: 0px 0px 20px 5px #FFB548;
  transition: all ease 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.button__centered {
  display: flex;
  justify-content: center;
}

.border__right {
  border-right: 1px solid #8B672C;
}

.span {
  padding: 0 10px;
}

.scroll__down {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
}

.scroll__down::before {
  content: "";
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../icons/triangle_bottom.svg");
  width: 22px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all ease 0.5s;
}

.scroll__down:hover::before {
  transform: translateY(10px);
}

.lang__selector {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 25px;
  cursor: pointer;
}

.lang__selector:hover .lang__list {
  display: block;
}

.lang__selector::after {
  content: "";
  background-image: url("../icons/arrow_bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-position: 0 3px;
}

.lang__list {
  padding: 10px;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  position: absolute;
  border-radius: 3px;
  margin-top: 5px;
}

.selected__lang:hover {
  color: #FFB548;
  transition: all ease 0.5s;
}

.selected__option {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.selected__option:hover {
  color: #FFB548;
}

.game__stores {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 25px;
  display: flex;
}

.store {
  display: block;
  transition: all ease 0.9s;
}

.store:hover {
  transform: rotate(360deg);
}

/* section-2 */

.section2 {
  background-image: url("../image/bg\ image\ 2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section2__wrapper {
  display: flex;
  justify-content: space-between;
}

/* section2-left-aside */

.section2__h3 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-top: 257px;
}

.section2__title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 73px;
}

.section2__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #FFFFFF;
  padding-bottom: 359px;
  transform: translateX(166px);
  position: relative;
}

.section2__text::after {
  content: "";
  background-image: url("");
  width: 123px;
  height: 7px;
  background: #ffb648;
  display: inline-block;
  position: absolute;
  top: 166px;
  right: 76px;
  z-index: -1;
}

/* section2-right-aside */

.right__aside {
  position: relative;
  padding-top: 188px;
}

.section2__img1 {
  border-radius: 10px;
  position: absolute;
  z-index: 3;
  top: 200px;
  bottom: 0;
  right: 155px;
}

.section2__img2 {
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  top: 225px;
  bottom: 0;
  right: 120px;
}

.section2__img3 {
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 255px;
  bottom: 0;
  right: 85px;
}

.dots {
  position: absolute;
  display: flex;
  bottom: 273px;
  left: -545px;
  z-index: 4;
}

.dot__active {
  background-color: #fff;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 53px;
}

/* section-3 */

.section3 {
  background-image: url("../image/bg\ image\ 3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.section3__inner {
  transform: translatex(700px);
  display: inline-block;
}

.section3__h3 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-top: 141px;
}

.section3__title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 9px;
}

.section3__h21 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #FFB548;
  margin-top: 71px;
}

.section3__h21::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 16px;
}

.section3__h22 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #FFB548;
  margin-top: 28px;
}

.section3__h22::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 16px;
}

.section3__h23 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #FFB548;
  margin-top: 37px;
  padding-bottom: 257px;
}

.section3__h23::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 16px;
}

.section3__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #FFFFFF;
  margin-top: 6px;
  padding-left: 38px;
  position: relative;
}

.section3__text::before {
  content: "";
  width: 2px;
  height: 130px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: -26px;
  left: 7px;
  bottom: 0;
}

/* section-4 */

.section4 {
  background-image: url("../image/bg\ image\ 4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrap {
  display: flex;
}

.section4__title {
  padding-top: 146px;
  text-align: center;
}

.setion4__h3 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.section4__h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 9px;
}

.section4__table {
  display: inline-block;
  padding-bottom: 171px;
  margin-top: 134px;
  transform: translateX(200px);
  background-image: url(../image/table.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.table__h3 {
  font-family: Bebas Neue;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFB548;
}

.table__p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 7px;
}

.wrap1 {
  padding: 15px 20px 22px 19px;
}

.translate1 {
  transform: translate(3px, 15px);
}

.translate2 {
  transform: translate(160px, 15px);
}

.translate3 {
  transform: translate(2px, 52px);
}

/* section-5 */

.section5 {
  background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url(../image/bg\ image\ 5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section5__left {
  /* background-image: url("../image/chap.jpg"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.section5__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 304px;
  padding-bottom: 150px;
}

.section5__h3 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.section5__h1 {
  margin-top: 9px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section5__p {
  margin-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.section5__a {
  display: inline-block;
  margin-top: 55px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #1A1917;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 18px 38px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.section5__a:hover {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  box-shadow: 0px 0px 20px 5px #FFB548;
  transition: all ease 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.section5__right {
  position: relative;
}

.coment__block {
  padding: 12px 20px 20px 16px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.author__block {
  display: flex;
  align-items: center;
}

.author__img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 6px 6px 0px 0px #FFB548;
}

.author__name {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFB548;
}

.name__wrapper {
  margin-left: 23px;
}

.author__position {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #FFFFFF;
  opacity: 0.5;
}

.author__coment {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.coment__data {
  margin-top: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.position1 {
  transform: translate(70px, -150px);
}

.position2 {
  transform: translate(-62px, -95px);
}

.position3 {
  transform: translate(20px, -45px);
}

.twitter {
  margin-left: 190px;
  margin-bottom: 20px;
}

.twitter2 {
  margin-left: 173px;
  margin-bottom: 20px;
}

.twitter3 {
  margin-left: 141px;
  margin-bottom: 20px;
}

/* section-6 */

.section6 {
  background: #080A0B;

}


.section6__inner {
  display: flex;
  justify-content: flex-end;
}

.section6__left {
  background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%),
    url(../image/bgim5.png);
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;

}

.section6__right {
  padding-bottom: 174px;
  margin-left: 70px;
}

.section6__h3 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-top: 221px;
}

.section6__h1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 9px;
}

.section6__p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 46px;
}

.section6__a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #1A1917;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 17px 53px;
  margin-left: 18px;
  border: 1px solid transparent;
}

.section6__a:hover {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  box-shadow: 0px 0px 20px 5px #FFB548;
  transition: all ease 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

textarea {
  resize: none;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  padding: 6px 10px;
}

textarea::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 4px;
}

.form__wrapper {
  display: flex;
  margin-top: 50px;
}

/* footer  */

footer {
  background: #080A0B;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 31px;
  position: relative;
}

.footer__inner:after {
  content: "";
  background-image: url("../image/line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height:  6px;
  width: 1206px;
  position: absolute;
  left: 0;
  right: 0;
  top: 86px;
}

.logodan {
  margin-left: 114px;
}

.sm__link {
  margin-left: 60px;
}

.copy__right {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 50px;
}

.copy__right__left {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.copy__right__right {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}